
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

.main {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
    background-color: #fafafa;
}

.header-content {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 1;
    top: 0;
}

.eazi-logo {
    margin: 1.2rem;
}

.intro-eazymockup {
    width: 100%;
    height: 100vh;
    background-image: url(img/images/image-mockups.png), url(img/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}
.intro-text {
    text-align: center;
}
.next {
    font-size: 2.3rem;
    color: #252541;
    line-height: normal;
    padding: 2rem 0 1rem 0;
    width: 80%;
    margin: auto;
    font-weight: 200;
}

.para {
    font-size: .9rem;
    color: #8e8d92;
    margin: auto;
    line-height: 1.8;
    width: 80%;
}

.btn {
    padding: .8rem 2.3rem;
    border-radius: 30px;
    margin: 2rem 0 5rem 0;
    font-size: .9rem;
    font-weight: 500;
    color: #ffffff;
    border: none;
    background-color: #34cc77;
    background-image: linear-gradient(to right, #34cc77, #29bacb);
    cursor: pointer;
    outline: none;
}
.btn:hover {
    animation: pulse 3s;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.eazy-contents {
    background-color: #f4f5f7;
    text-align: center;
}

.why {
    font-size: 2rem;
    color: #252541;
    line-height: normal;
    width: 50%;
    margin: auto;
    padding: 4rem 0 1rem 0;
}

img {
    margin: 3rem 0 0 0;
}

h3 {
    font-size: 1.2rem;
    color: #252541;
    padding: 1.5rem 0;
}
.open {
    padding-bottom: 5rem;
}
.eazy-articles {
    text-align: center;
    background-color: #fafafa;
    margin: 6rem 0;
}

.latest {
    font-size: 2rem;
    font-weight: 100;
    color: #252541;
    line-height: normal;
    width: 50%;
    margin: auto;
}

.img1 {
    background-image: url(img/images/image-currency.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 80%;
    height: 45vh;
    border-radius: 10px 10px 0 0;
    margin: 2.5rem auto 0;
}
.img2 {
    background-image: url(img/images/image-restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 80%;
    height: 45vh;
    border-radius: 10px 10px 0 0;
    margin: 2.5rem auto 0;
}
.img3 {
    background-image: url(img/images/image-plane.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 80%;
    height: 45vh;
    border-radius: 10px 10px 0 0;
    margin: 2.5rem auto 0;
}
.img4 {
    background-image: url(img/images/image-confetti.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 80%;
    height: 45vh;
    border-radius: 10px 10px 0 0;
    margin: 2.5rem auto 0;
}

.ref {
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 20px;
    background-color: #ffffff;
}

.by {
    font-size: .8rem;
    color: #d8d8da;
    padding: 10px 0;
}
h4 {
    font-weight: 500;
    color: #4b4b4e;
    padding: 10px 0;
}
.the,
.simp,
.we,
.our {
    margin: 0;
    width: 100%;
}

.footer-contents {
    text-align: center;
    background-color: #2d314e;
}
div .footer-socails img {
    width: 2.5rem;
    height: 5.5rem;
}
.foot-nav {
    margin: 20px 0;
}

.about a,
.contact a,
.blog a,
.careers a,
.support a,
.privacy a {
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

.btn1 {
    padding: .9rem 2.3rem;
    border-radius: 30px;
    margin: 1rem 0;
    font-size: .8rem;
    font-weight: 900;
    color: #ffffff;
    border: none;
    background-color: #34cc77;
    background-image: linear-gradient(to right, #34cc77, #29bacb);
    cursor: pointer;
    outline: none;
}
.btn1:hover {
    animation: pulse 3s;
}
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.copyright {
    padding: 50px 0;
    color: #aaa;
}
.copyright h5 {
    padding: 10px 0;
}

.copyright h6 {
    padding: 10px 0;
}
.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.facebook {
    width: 30px;
    height: 30px;
    background-image: url(img/images/icon-facebook.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}
.youtube {
    width: 30px;
    height: 30px;
    background-image: url(img/images/icon-youtube.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}
.twitter {
    width: 30px;
    height: 30px;
    background-image: url(img/images/icon-twitter.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
   
}
.pinterest {
    width: 30px;
    height: 30px;
    background-image: url(img/images/icon-pinterest.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}
.instagram {
    width: 30px;
    height: 30px;
    background-image: url(img/images/icon-instagram.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.foot a {
    color: #fff;
    text-decoration: none;
    font-size: .7rem;
    cursor: pointer;
}



/* MEDIA QUERRIES */

@media (max-width: 768px) {
    .nav,
    .bttn {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        font-family: 'Libre Franklin', sans-serif;
        background-color: #fafafa;
    }
    .menu-wrap,
    .toggler,
    .hamburger {
        display: none;
    }

    .main {
        max-width: 100%;
        height: auto;
    }

    .header {
        width: 100%;
        height: auto;
    }
    .header-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: "a b c";
    }
    .eazlogo {
        grid-area: a;
        text-align: start;
        display: inline-block;
        margin: 7px 100px;
        width: fit-content;
    }
    .nav {
        grid-area: b;
        text-align: center;
        width: fit-content;
        margin: auto;
    }   
    .home, 
    .about, 
    .contact, 
    .blog, 
    .career {
        padding: 0 10px;
        text-decoration: none;
        color: #8e8d92;
        cursor: pointer;
        font-size: .9rem;
    } 
    .home:hover,
    .about:hover,
    .contact:hover,
    .blog:hover,
    .career:hover {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #9decbf;
    }
    .bttn {
        grid-area: c;
        text-align: center;
    }
    .bttn-head {
        padding: .9rem 2.3rem;
        border-radius: 30px;
        margin: 1rem 0;
        font-size: .8rem;
        font-weight: 900;
        color: #ffffff;
        border: none;
        background-color: #34cc77;
        background-image: linear-gradient(to right, #34cc77, #29bacb);
        cursor: pointer;
        outline: none;    
    }

    .intro {
        height: 100vh;
    }
    .intro-content {
        width: 100%;
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: "x y";
    }
    .intro-text {
        grid-area: x;
        height: fit-content;
        margin: 40% 50px;
    }
    .intro-eazymockup {
        grid-area: y;
        margin: 0 auto;
        background-image: url(img/images/image-mockups.png), url(img/images/bg-intro-desktop.svg);
        background-size: 85%, contain;
        background-position-x: 220px, 100px;
        background-position-y: -30px, -50px;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .next {
        font-size: 2.7rem;
        text-align: start;
        padding: 2rem 0;
    }
    .para {
        font-size: 1rem;
        text-align: start;
        width: 90%;
        margin: 0 0 0 50px;
    }
    .btn {
        margin: 2rem 50px;
        float: left;
    }

    .eazy-heading-content {
        text-align: start;
        
    }
    .why {
        text-align: start;
        font-size: 2rem;
        width: 80%;
        margin: 0 50px;
        padding: 4rem 0 1rem 50px;
    }
    .leverage {
        margin: 0 50px;
        padding: 0 10px 0 50px;
        width: 50%;
        font-size: 1rem;
        color: #8e8d92;
        line-height: 1.8;
    }
    .eazy-contents {
        height: 90vh;
    }
    
    .eazycontent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "l m n o";
        margin: 20px auto;
        width: 85vw;
        grid-column-gap: 30px;
    }
    .eazy-content1 {
        grid-area: l;
        text-align: start;
    }
    .eazy-content2 {
        grid-area: m;
        text-align: start;
    }
    .eazy-content3 {
        grid-area: n;
        text-align: start;
    }
    .eazy-content4 {
        grid-area: o;
        text-align: start;
    }
    .lorem,
    .open {
        font-size: .9rem;
        color: #8e8d92;
        line-height: 1.8; 
    }
    .latest {
        text-align: start;
        font-size: 2rem;
        width: 80%;
        margin: 0 50px;
        padding: 4rem 0 1rem 50px;
    }
    .eazy-articles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "l m n o";
        margin: 50px auto 100px;
        width: 90vw;
        grid-column-gap: 30px;
    }
    .eazy-heading-article1 {
        grid-area: l;
    }
    .eazy-heading-article2 {
        grid-area: m;
    }
    .eazy-heading-article3 {
        grid-area: n;
    }
    .eazy-heading-article4 {
        grid-area: o;
    }

    .img1 {
        max-width: 100%;
        height: 30vh;
        border-radius: 10px 10px 0 0;
        margin: 2.5rem auto 0;
    }
    .img2 {
        max-width: 100%;
        height: 30vh;
        border-radius: 10px 10px 0 0;
        margin: 2.5rem auto 0;
    }
    .img3 {
        max-width: 100%;
        height: 30vh;
        border-radius: 10px 10px 0 0;
        margin: 2.5rem auto 0;
    }
    .img4 {
        max-width: 100%;
        height: 30vh;
        border-radius: 10px 10px 0 0;
        margin: 2.5rem auto 0;
    }

    .ref {
        width: 100%;
    }
    h4 {
        font-size: 1rem;
        line-height: 1.5;
    }
    .the,
    .simp,
    .we,
    .our {
        font-size: .8rem;
        line-height: 1.5;
        color: #8e8d92;
    }

    .footer-contents {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "r s t u";
        margin: 20px auto 0;
        padding: 0 100px;
        width: 100vw;
        grid-column-gap: 30px;
    }
    .footimg {
        grid-area: r;
        margin: 3rem auto;
    }
    .footer-socials {
        margin: 3rem auto;
    }
    .foot-nav {
        grid-area: s;
        margin: 3rem auto;
        height: fit-content;
    }
    .about,
    .contact,
    .blog {
        text-align: start;
        padding-top: 2rem;
        text-decoration: none;
        font-size: .9rem;
    }
    .foot-nav1 {
        grid-area: t;
        margin: 3rem auto;
        height: fit-content;
    }
    .careers,
    .support,
    .privacy {
        text-align: start;
        padding-top: 2rem;
    }
    .footbtn {
        grid-area: u;
        margin: 3rem auto;
        height: fit-content;
    }
    .btn1 {
        margin: 5px;
    }
    .copyright {
        padding: 20px 0;
        line-height: 1.8;
    }
}